.blackout {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	animation: bkg-shift 3s linear;
	animation-fill-mode: forwards;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75vh;
	color: white;
}

.mimicTyping1 {
	overflow: hidden;
	border-right: 1rem solid whitesmoke;
	white-space: nowrap;
	font-size: 2rem;
	width: 100%;
	animation: typing 1s steps(10, end) forwards;
	animation-fill-mode: forwards;
}

.mimicTyping2 {
	overflow: hidden;
	border-right: 1rem solid whitesmoke;
	white-space: nowrap;
	font-size: 2rem;
	width: 0;
	animation: typing 1s steps(10, end) forwards;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes bkg-shift {
	from {
		background-color: black;
	}
	to {
		background-color: rgba(0, 0, 0, 0.34);
	}
}

@keyframes typing {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}
